extends layout.pug 

block content 
    h1.all-title All Employees
    .page-container
        each employee in employees 
            .employees-container 
                a.all-name(href="/employees/" + employee.id)= employee.name 
                p.all-about= employee.about