extends layout.pug 

block content 
    .single-container 
        h1.name= employee.name  
        p.date.detail= employee.date  
        p.experience.detail= employee.experience  
        p.about.detail= employee.about  
        a.hire-btn(href="/hired/" + employee.id + "/fire") Fire 