extends layout.pug 

block content 
    .page-container
        each employees in employee 
            .employees-container 
                a.all-name(href="/hired/" + employees.id)= employees.name
                p.all-about= employees.about