extends layout.pug 

block content 
    .home-container 
        h1.home-title Human Resources Application
        a.create-btn(href="/create") Create
    
    p.web This web application was created to fulﬁll Web Technology module’s requirements and does not represent an actual company or service